* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
 
  }
  
  .navbar {
    overflow: hidden;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: 5vw;
    border-bottom: .1vw solid black;
    font-size: 1.5vw;
    width: 100%;
    padding: 0;
  }
  
  .navbar a {
    float: left;
    font-size: 1.5vw;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 2vw;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content .header {
    background: red;
    padding: 4vw;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 3vw;
    background-color: white;
    height: 40vw;
  }
  
  .column a {
    float: none;
    color: black;
    padding: 1vw;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .column a:hover {
    background-color: #ddd;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .ab {
      height: 300px;
      background-color: black;
      width: 80%;
      display: block;
  }
  #ac {
      float: right;
  }

  .btn-main {
      color: black;
      background-color: white;
      padding: 10px 12px;
      border: .5px solid grey;
      font-size: 1vw;
      margin: auto;
  }

  .btn-main:hover {
      background-color: lightgray;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }
  }

  footer {
    background-color: black;
  }
     
*{
  background-color: transparent;
}
.zy {
  display: block;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  font-weight: var(--font-weight-reg);
  line-height: 1.625;
  text-rendering: optimizeLegibility; 
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
   overflow-x: visible; 
  min-height: 100vh;
}
.integrations-section .section-header h2 {
  margin: 0 auto;
}
h2 {
  margin: 0;
}
.g-type-display-2 {
  font-family: var(--font-display);
  font-weight: var(--font-weight-bold);
  font-size: 50px;
  letter-spacing: -.004em;
  line-height: 1.286em;
}
h2 {
  font-size: 1.75rem;
  letter-spacing: -.004em;
  line-height: 1.286em;
  margin: 1em 0;
}
.integrations-section .section-header p {
  color: var(--DEPRECATED-gray-3);
  margin: 16px 0;
}
.g-type-body, .g-type-body-strong {
  font-family: var(--font-body);
  font-size: 1.063rem;
  letter-spacing: .01em;
  line-height: 1.647em;
}
.g-type-body {
  font-weight: var(--font-weight-reg);
}
*, :after, :before {
  box-sizing: border-box;
}
.po {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: x-large;
}
.integrations-section .section-header {
  flex-shrink: 0;
  margin: 0 auto;
  max-width: 464px;
  text-align: center;
}
.integrations-section .section-header a {
  align-items: center;
  display: inline-flex;
  margin-bottom: 40px;
  transition: color .3s;
}
.g-type-buttons-and-standalone-links {
  font-family: var(--font-body);
  font-weight: var(--font-weight-semi-bold);
  font-size: 1rem;
  line-height: 1.5em;
  color: blue;
}
.zx {
  text-decoration: none;
  color: var(--brand);
}
.zx {
  background-color: transparent;
}
.integrations-section {
  background: var(--gray-7);
  padding: 64px 0 72px;
}
section {
  padding: 64px 0 72px; 
}

.g-container {
  padding-left: 24px;
  padding-right: 24px;
}
.g-container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--site-max-width);
  padding-left: 32px;
  padding-right: 32px;
}


.g-home-logo-grid {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}


.g-home-logo-grid ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: -12px;
  padding: 0;
}

.lu {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.g-home-logo-grid li {
  background: var(--white);
  justify-content: center;
  margin: 12px;
  transition: box-shadow .25s,transform .25s;
  width: calc(50% - 24px);
}

.linked {
  display: list-item;
  text-align: -webkit-match-parent;
}
.g-home-logo-grid .aspect-ratio {
  padding-top: 100%;
  position: relative;
}


.linked {
  text-align: -webkit-match-parent;
}
.g-home-logo-grid .aspect-ratio>a, .g-home-logo-grid .aspect-ratio>span {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
}
.zx {
  text-decoration: none;
  color: var(--brand);
}
.zx {
  background-color: whitesmoke;
}
*, :after, :before {
  box-sizing: border-box;
}
.integrations-section {
  background: var(--gray-7);
  padding: 64px 0 72px;
}
section {
  padding: 64px 0 72px;
}

section {
  display: block;
}

.g-container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--site-max-width);
  padding-left: 32px;
  padding-right: 32px;
}

.foot {
  height: 60vw;
  background-color: black;
}
.foot1 {
  height: 13vw;
}
.foot2 {
  height: 10vw;
}
.footp {
  color: #ddd;
  padding: 2.5vw;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
}
.form1 {
  
  border: 2px solid grey ;
  width: 25%;
  height: 3.7vw;
  background-color: rgba(60, 60, 60, .5);
  margin: auto;
  border-radius: .4vw;
  margin-left: .6vw;
  color: #ddd;  
  padding-left: 1.2vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}
input[type="email"]::placeholder {  
   font-size: 1vw;               
  text-align: left; 
  padding-left: 1vw;
}

.btnform {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 15%;
  margin-left: 1vw;
  height: 3.6vw;
  color: #ddd;
  background-color: blue;
  font-size: 1vw;
}

.A {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3vw;
  font-weight: normal;
}
input[type="checkbox"] {
  height: 20px;
  width: 8%;
}
.foot3 {
  height: 30vw;
}
.foot3a {
  float: left;
  color: #ddd;
}
.foot4 {
  height: 7vw;
 background-color: black;
}
.foot4 ul {
  list-style: none;
  padding: 1vw;
 float: left;
}
.foot4 ul:nth-child(2) {
  margin-left: 40vw;
}
.foot4 li {
  padding: 1.2vw;
  list-style: none;
  font-size: 1.4vw;
}
.foot4 a {
  color: lightgray;
  text-decoration: none;
}
.foot4 a:hover {
  color: wheat;
}
.foot3 a:hover {
  color: wheat;
}

.foot3h {
  color: rgba(140, 140, 140, 1);
  font-size: 1vw;

}
.foot3 li {
  list-style: none;
  line-height: 2.5vw;
  font-size: 1vw;
}
.foot3 a {
  text-decoration: none;
  color: lightgray;
}
.foot3 h3 {
  font-size: 2.7vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.second1 {
  height: 30vw;
  width: 100%;
}
.second1 h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw;
  padding-top: 3vw;
  padding-bottom: .5vw;
  color: black;
}
.second1 p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6vw;
  color: gray;
}
.second1 a {
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3vw;
  color: blue;
}
.second2 {
  height: 16vw;
  width: 100%
}
.second21 {
  height: 15vw;
  width: 90%;
  background-color: rgba(140, 140, 140, .2);
  
  margin: 2vw auto;
}
.second22 {
  width: 50%;
  text-align: center;
  float: left;
}
.second23 {
width: 60%;
height: 5vw;
background-color: black;
margin: 5vw auto;
}
.second2 a {
text-decoration: none;
}
.second24 h1 {
color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 2vw;
}
.second24 p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
}
.second24 {
  padding: 2vw;
}
.fourth {
  width: 100%;
  height: 15vw;
  background-color: aqua;
}
.fourth1 {
  font-weight: bold;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.3vw;
  padding-left: 2.5vw;
}
.fourth2 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  padding-top: 2.3vw;
  padding-left: 2.3vw;
  color: gray;
}
.fourth2 button:nth-child(1) {
  height: 3.8vw;
  width: 20%;
  background-color: blue;
  padding: 1vw;
  color: white;
  font-size: 1vw;
  border: none;
  margin: 1vw;
  font-weight: bold;
}
.fourth2 button:nth-child(2) {
  height: 3.5em;
  width: 20%;
  background-color:white;
  padding: 1vw;
  margin: 1vw;
  color: black;
  font-size: 1vw;
  border: none;
  font-weight: bold;
}
.fourth2 button:nth-child(1):hover {
  background-color: navy;
  cursor: pointer;
}
.fourth2 button:nth-child(2):hover {
  background-color: lightgray;
  cursor: pointer;
}
.fourth11 {
  float: left;
}
.first {
  width: 100%;
  height: 45vw;
  background-image: linear-gradient(pink,lightgreen,yellow,lightblue);
  /* opacity: .5; */
  margin: 0;
}
.first h1 {
  opacity: 1;
  color: black;
  font-size: 6vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 2vw;  
}
.first p {
  color: black;
  font-size: 2.3vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 1.2vw;
  padding-top: 9vw;
}
.first a {
  text-align: center;
  text-decoration: none;
  padding: 4vw; 
  font-weight: normal;
  font-size: 1.7vw;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}
.first11 {
  float: left;
}
.C {
  float: left;
}
.D {
  float: right;
}
@media only screen and (max-width: 600px) {
  .fourth {
    width: 100%;
    height: 30vw;
    background-color: aqua;
  }
  .fourth1 {
    font-weight: bold;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.3vw;
    padding-left: 2.5vw;
  }
  .fourth2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    padding-top: 2.3vw;
    padding-left: 2.3vw;
    color: gray;
    text-align: center;
  }
  .fourth2 button:nth-child(1) {
    height: 3.8vw;
    width: 20%;
    background-color: blue;
    padding: vw;
    color: white;
    font-size: 1vw;
    border: none;
    margin: 1vw;
    font-weight: bold;
    align-items: center;
  }
  .fourth2 button:nth-child(2) {
    height: 3.5em;
    width: 20%;
    background-color:white;
    padding: 1vw;
    margin: 1vw;
    color: black;
    font-size: 1vw;
    border: none;
    font-weight: bold;
    align-items: center;
  }
  
  .fourth2 button:nth-child(1):hover {
    background-color: navy;
    cursor: pointer;
  }
  .fourth2 button:nth-child(2):hover {
    background-color: lightgray;
    cursor: pointer;
  }
  .fourth11 {
    float: none;
  }  
  .first {
    width: 100%;
    height: 90vw;
    background-image: linear-gradient(pink,lightgreen,yellow,lightblue);
    margin: 0;
    padding: 0;
  }
  .first11 {
    float: none;
  }
  .first h1 {
    opacity: 1;
    color: black;
    font-size: 8vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 2vw; 
    text-align: center; 
  }
  .first p {
    color: black;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 1.2vw;
    padding-top: 1vw;
    text-align: center;
  }
  .first a {
    text-align: center;
    text-decoration: none;
    padding: 2vw; 
    font-weight: normal;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    padding-left: 30vw;
  }
  .form1 {
  
    border: 2px solid grey ;
    width: 50%;
    height: 5vw;
    background-color: rgba(60, 60, 60, .5);
    /* margin: auto; */
    border-radius: .4vw;
    margin-left: .6vw;
    color: #ddd;  
    padding-left: 1.2vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    align-items: center;
    margin-left: 25vw;
    
  }
  input[type="email"]::placeholder {  
     font-size: 3vw;               
    text-align: left; 
    padding-left: 1vw;
  }
  
  .btnform {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 50%;
    margin-top: 2vw;
    height: 5vw;
    color: #ddd;
    background-color: blue;
    font-size: 3vw;
    border: none;
    margin-left: 25vw;
  }
  .second1 {
    height: 30vw;
    width: 100%;
  }
  .second1 h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    padding-top: 3vw;
    padding-bottom: .5vw;
    color: black;
  }
  .second1 p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6vw;
    color: gray;
  }
  .second1 a {
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    color: blue;
  }
  .second2 {
    height: 16vw;
    width: 100%
  }
  .second21 {
    height: 15vw;
    width: 90%;
    background-color: rgba(140, 140, 140, .2);
    
    margin: 2vw auto;
  }
  .second22 {
    width: 50%;
    text-align: center;
    float: left;
  }
  .second23 {
  width: 60%;
  height: 5vw;
  background-color: black;
  margin: 5vw auto;
  }
  .second2 a {
  text-decoration: none;
  }
  .second24 h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  }
  .second24 p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
  }
  .second24 {
    padding: 2vw;
  }
  .navbar {
    overflow: hidden;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: 20vw;
    /* border-bottom: .1vw solid black; */
    font-size: 1.5vw;
    width: 100%;
    padding: 0;
  }
  .A {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;   
  }
  input[type="checkbox"] {
    height: 3vw;
    width: 8%;
    margin-left: 25vw;
  }
  .foot3 {
    height: 55vw;
    background-color: black;
  }
  .foot3a {
    float: none;
    color: #ddd;
  }
  .foot4 {
    height: 30vw;
   background-color: black;
  }
  .C {
    float: none;
  }
  .D {
    float: none;
  }
  .foot4 ul {
    list-style: none;
    padding: 1vw;
    float: left;
  }
  .foot4 li {
    padding: 1.2vw;
    list-style: none;
    font-size: 3vw;
    margin: 2vw;
  }
  .foot4 a {
    color: lightgray;
    text-decoration: none;
  }
  .foot4 a:hover {
    color: wheat;
  }
  .foot3 a:hover {
    color: wheat;
  }
  
  .foot3h {
    color: rgba(140, 140, 140, 1);
    font-size: 1.3vw;
    padding: 1vw;
    }
  .foot3 li {
    list-style: none;
    line-height: 4vw;
    font-size: 2vw;
  }
  .foot3 a {
    text-decoration: none;
    color: lightgray;
  }
  .foot3 h3 {
    font-size: 2.7vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .foot {
    height: 140vw;
    background-color: black;
  }
  .foot1 {
    height: 35vw;
    padding-top: 0vw;
  }
  .foot2 {
    height: 20vw;
  }
  .footp {
    color: #ddd;
    padding: 2.5vw;
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1vw;
  }
  .foot4 ul:nth-child(2) {
    margin-left: 40vw;
  }
 }